body
h1{
    text-align: center;
    color: red;
}
h2{
text-decoration: underline;
}
body{
    background-image:url(https://4kwallpapers.com/images/wallpapers/laptop-windows-11-1920x1200-10874.jpg );
}
h2{color: rgb(6, 1, 3);
}

